# Python
__pycache__/
*.py[cod]
*.pyo
.Python
*.egg-info/

# Virtual environments
.venv/
venv/

# Environment / secrets
env/*.env
!env/example-local.env
.env

# Testing
.pytest_cache/
.coverage
htmlcov/

# IDE
.idea/

# OS
.DS_Store
